html
    head
        title This is my first Pug filee
    body
        header
            p My soon to be menu
        section
            p This is a post about Pug template engine, enjoy it!
            a(href='./test.pug') Google
            include src/components/load.pug
        footer
            cool footer with lots of copyrights
