@import "../utils/var";
@import "../utils/atom";
@import "../utils/layout";

.o-tile{
  position: relative;
  overflow: hidden;
  margin-bottom: @space * 2;
  background: @bg;

  @media (min-width: @tab){
    margin-bottom: @space * 2;
  }
}

.o-tile__info{
  position: relative;
  padding: 8vw (@space * 1) 0;

  @media (min-width: @tab){
    padding: 3em (@space * 1) 0;
  }
}

.o-tile__logo{
  @width: 15vw;
  position: absolute;
  top: -@width / 1.8;
  .p-hcenter-abs();
  width: @width;
  height: @width;
  border-color: @bg;
  border-style: solid;
  background: @bg;

  @media (min-width: @tab){
    top: -40px;
    width: 80px;
    height: 80px;
  }
}
.o-tile__logo--long{
  @width: 6vw;
  top: -@width / 1.8;
  width: @width;
  height: @width;
  border-color: @l-grey;
  border-style: solid;

  @media (min-width: @tab){
    top: -15px;
    width: 30px;
    height: 30px;
  }
}

.o-tile__name{
  padding: 0 (@space * 3.5) 0;

  @media (min-width: @tab){
    padding: 0 (@space * 2) 0;
  }
}

.o-tile__ico{
  display: block;
  width: 20%;
  margin: 0 auto (@space / 2);

}
.o-tile__ico--large{
  @media (min-width: @tab){ width: 15%; }
  @media (min-width: @desktop){ width: 10%; }
}

.o-tile__ico--inline{
  display: inline-block;
  width: 1.4rem;

  @media (min-width: @tab){
    width: 1rem;
  }
}

.o-tile__vote{
  @size: 8%;
  position: absolute;
  right: @space;
  top: 25vw;
  width: @size;
  height: 0;
  padding-bottom: @size;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  background: @bg;
  z-index: 999;

  @media (min-width: @tab){ top: 7.5rem; }
  @media (min-width: @desktop){ top: 6rem; }

  & > svg{
    padding: .2rem;
  }
}

.o-tile__pictures{
  img{ width: 100%; }
  a{ display: inline-block; }

  & > a:nth-of-type(1){
    .o-ico-sprite{ &:extend(.o-ico-sprite--or); }
    img{
      margin-bottom: @inner-space;
      max-height: 300px;
      object-fit: cover;
      @media (min-width: @tab){
        min-height: 15.4rem;
      }
    }
  }
  & > a:nth-of-type(2) {
    margin-right: @inner-space;
    .o-ico-sprite{ &:extend(.o-ico-sprite--argent); }
  }
  & > a:nth-of-type(3) {
    .o-ico-sprite{ &:extend(.o-ico-sprite--bronze); }
  }

  & > a:not(:nth-of-type(1)){
    width: ~"calc(50% - " @inner-space/2 ~")";

    img{
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 150px;
      @media (min-width: @tab){
        min-height: 7.4rem;
      }
    }
  }
}

.o-tile-closingimg{
  filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.7));
}
