@import "../utils/var";
@import "../utils/atom";

.o-tile{
  position: relative;
  overflow: hidden;
}

.o-tile__info{
  position: relative;
  padding: 8vw (@space * 1) 0;
}

.o-tile__logo{
  @width: 15vw;
  position: absolute;
  top: -@width / 1.8;
  .p-hcenter-abs();
  width: @width;
  height: @width;
  border-color: @bg;
  border-style: solid;
}

.o-tile__name{ padding: 0 (@space * 3.5) 0; }

.o-tile__ico{
  display: block;
  width: 25%;
  margin: 0 auto (@space / 2);
}

.o-tile__vote{
  @size: 8%;
  position: absolute;
  right: @space;
  top: 25vw;
  width: @size;
  height: 0;
  padding-bottom: @size;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  background: @bg;
  z-index: 999;

  & > svg{
    padding: .2rem;
  }
}
