@import "../utils/mixins";
@import "../utils/var";

.o-connect-box{
  position: relative;
  width: 65%;
  max-width: 560px;
  margin: auto;
  top: 50vh;
}

.o-connect-btns{
  margin-top: 2rem;
  padding: 0 1.5rem;
}

.o-connect-btn{
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 350px;
  padding: .8rem .7rem .7rem 3rem;
  margin: .5rem 0;

  &::before{
    .mixin-before-abpos();
    width: 2.8rem;
    height: 100%;
    background: url('../img/ico-fb.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: ~"calc(100% -  @{radius-reg} )";
    left: 0;
    bottom: 0;
  }

  &:hover{
    text-decoration: underline;
    color: @prim;
  }
}

.o-connect-btn--fb,
.o-connect-btn--inst,
.o-connect-btn--gml{
  background: #3c5997;
}
