//- outer layout (external pug redirections for html backbones)

doctype html  
html(lang='fr')  
  head
    
    block metadata
      
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/assets/css/style.css')
    title HEPIC - #{title}
    meta(name='description', content= description)
        
  body
        
    block content
