//- ===== DATAS =====
//- =================

//- ===== FLUX =====
- 
  var nike = { 
    brand: "Nike", 
    desc: "Shoes contest 2018", 
    gifts: "Bons d’achats 50€", 
    logo: "./assets/img/brands/nike/logo@2x.png",
    infos: "Pour les 50 ans de la marque, un grand concours axé sur les sneakers Nike est organisé. Que le meilleur gagne !",
    dateStart: "01/02/18",
    dateEnd: "30/03/18",
    target: "Vous au festival !",
    couv: "./assets/img/brands/nike/nike-femme.jpg",
    pictures: [
      "./assets/img/brands/nike/nike-femme.jpg",
      "./assets/img/brands/nike/nike-blanc.jpg",
      "./assets/img/brands/nike/nike-course.jpg" 
    ] 
  };
  
  var clubmed = { 
    brand: "ClubMed'", 
    desc: "Concours Plages d’été", 
    gifts: "Bons chèques voyage", 
    logo: "./assets/img/brands/club-med/logo.png",
    infos: "Lorem ipsum door set imagera setit petas met. Qualcum dera per selas del ora mas fat",
    dateStart: "01/02/18",
    dateEnd: "30/03/18",
    target: "Vous au festival !",
    couv: "./assets/img/brands/nike/nike-femme.jpg",
    pictures: [
      "./assets/img/brands/nike/nike-femme.jpg",
      "./assets/img/brands/nike/nike-blanc.jpg",
      "./assets/img/brands/nike/nike-course.jpg" 
    ] 
  };
  
  var macdonalds = { 
    brand: "McDonald's", 
    desc: "Burger photo contest", 
    gifts: "Une année de repas gratuit", 
    ban: "./assets/img/brands/macdonalds/smoothie.jpg",
    logo: "./assets/img/brands/macdonalds/logo.png",
    infos: "Lorem ipsum door set imagera setit petas met. Qualcum dera per selas del ora mas fat",
    dateStart: "01/06/18",
    dateEnd: "30/06/18",
    target: "Votre burger McDonald's !",
    couv: "./assets/img/brands/nike/nike-femme.jpg",
    pictures: [
      "./assets/img/brands/macdonalds/burgerNoir.jpg",
      "./assets/img/brands/macdonalds/tortue.jpg",
      "./assets/img/brands/macdonalds/burgerShoes.jpg" 
    ] 
  };
  
  var macdonalds2 = { 
    brand: "McDonald's", 
    desc: "Smoothie photo contest", 
    gifts: "Une année de repas gratuit", 
    ban: "./assets/img/brands/macdonalds/smoothie.jpg",
    logo: "./assets/img/brands/macdonalds/logo.png",
    infos: "Lorem ipsum door set imagera setit petas met. Qualcum dera per selas del ora mas fat",
    dateStart: "01/06/18",
    dateEnd: "30/08/18",
    target: "Votre smoothie McDonald's",
    couv: "./assets/img/brands/nike/nike-femme.jpg",
    pictures: [
      "./assets/img/brands/nike/nike-femme.jpg",
      "./assets/img/brands/nike/nike-blanc.jpg",
      "./assets/img/brands/nike/nike-course.jpg" 
    ] 
  };
  
  var skipass = { 
    brand: "SkiPass'", 
    desc: "Ski Photo Contest", 
    gifts: "1 paire de ski Rossignol", 
    ban: "./assets/img/brands/skipass/skipass.jpg",
    logo: "./assets/img/brands/skipass/logo.png",
    infos: "Lorem ipsum door set imagera setit petas met. Qualcum dera per selas del ora mas fat",
    dateStart: "01/02/18",
    dateEnd: "30/03/18",
    target: "Le ski alpin en famille",
    couv: "./assets/img/brands/nike/nike-femme.jpg",
    pictures: [
      "./assets/img/brands/nike/nike-femme.jpg",
      "./assets/img/brands/nike/nike-blanc.jpg",
      "./assets/img/brands/nike/nike-course.jpg" 
    ] 
  };
  
  var bangolufsen = { 
    brand: "Bang & Olufsen", 
    desc: "Grand Contests 2018", 
    gifts: "10 enceintes B&O", 
    ban: "./assets/img/brands/bangolufsen/bangolufsen.jpg",
    logo: "./assets/img/brands/bangolufsen/logo.jpg",
    infos: "Lorem ipsum door set imagera setit petas met. Qualcum dera per selas del ora mas fat",
    dateStart: "22/08/18",
    dateEnd: "30/09/18",
    target: "Enceinte portable B&O en pleine action",
    couv: "./assets/img/brands/nike/nike-femme.jpg",
    pictures: [
      "./assets/img/brands/nike/nike-femme.jpg",
      "./assets/img/brands/nike/nike-blanc.jpg",
      "./assets/img/brands/nike/nike-course.jpg" 
    ] 
  };
  
  var imaginarium = { 
    brand: "Imaginarium festival", 
    desc: "Dance photo contest",
    target: "Vous au festival !", 
    ban: "./assets/img/brands/imaginarium/imaginarium-pic.jpg",
    gifts: "Chèques Cadeaux 100€, 50€, 30€",
    dateStart: "01/02/18",
    dateEnd: "30/03/18",
    logo: "./assets/img/brands/imaginarium/logo@2x.png"
  };
  
  var airfrance = { 
    brand: "AirFrance", 
    desc: "Concours Dans les Airs",
    ban: "./assets/img/brands/airfrance/airfrance.jpg",
    target: "Photo de votre voyage AirFrance", 
    gifts: "3 voyages aux Caraïbes",
    dateStart: "23/04/19",
    dateEnd: "23/05/19",
    logo: "./assets/img/brands/airfrance/logo.jpg",
  };
  
  var nutella = { 
    brand: "Nutella", 
    desc: "Nutella Moment Contest",
    ban: "./assets/img/brands/nutella/nutella.jpg",
    target: "Vous au festival !", 
    gifts: "1 an de nutella à volonté",
    dateStart: "01/02/18",
    dateEnd: "30/03/18",
    logo: "./assets/img/brands/nutella/logo.jpg",
  };
  
  var utc = { 
    brand: "UTC", 
    desc: "Experience UTC ",
    ban: "./assets/img/brands/utc/utc.jpg",
    target: "Votre experience UTC ", 
    gifts: "Pass pour conférences à Paris",
    dateStart: "01/04/18",
    dateEnd: "05/07/18",
    logo: "./assets/img/brands/utc/logo.jpg",
  };
  
  
    //- ===== PROFIL =====
  
  var profil = {
    name: "Julie",
    id: "julie.ldf",
    portrait: "./assets/img/profil/julie.jpg",
    images: [
      {
        rank: "gold",
        brand: "./assets/img/brands/imaginarium/logo@2x.png",
        image: "./assets/img/brands/imaginarium/IFdance.jpg"
      },
      {
        rank: 10,
        brand: "./assets/img/brands/club-med/logo.png",
        image: "./assets/img/profil/plage.png"
      },
      {
        rank: 8,
        brand: "./assets/img/brands/macdonalds/logo.png",
        image: "./assets/img/profil/smoothie.jpg"
      },
      {
        rank: 12,
        brand: "./assets/img/brands/skipass/logo.png",
        image: "./assets/img/profil/neige.jpg"
      },
      {
        rank: 8, 
        brand: "./assets/img/brands/club-med/logo.png",
        image: "./assets/img/profil/plage2.jpg"
      },
      {
        rank: "silver",
        brand: "./assets/img/brands/club-med/logo.png",
        image: "./assets/img/profil/paysage.jpg"
      }
    ]
  };
  
  //- ===== IMAGE =====
  
  var image = {
    winner: profil,
    image: "./assets/img/brands/nike/nike-femme.jpg",
    rank: "gold"
  }
