//- ===== DATAS =====
//- =================

//- ===== FLUX =====
- 
  var nike = { 
    brand: "nike", 
    desc: "Shoes contest 2018", 
    gifts: "Bons d’achats de 100€, 50€ et 25€", 
    logo: "./assets/img/brands/nike/logo@2x.png",
    pictures: [
      "./assets/img/brands/nike/nike-femme.jpg",
      "./assets/img/brands/nike/nike-blanc.jpg",
      "./assets/img/brands/nike/nike-course.jpg"
    ] 
  };
  
  var imaginarium = { 
    brand: "Imaginarium festival", 
    desc: "Dance photo contest",
    target: "Vous au festival !", 
    gifts: "Chèques Cadeaux 100€, 50€, 30€",
    dateStart: "01/02/18",
    dateEnd: "30/03/18",
    logo: "./assets/img/brands/imaginarium/logo@2x.png",
  };
  
  
  //- ===== PROFIL =====
  
  var profil = {
    name: "Julie",
    id: "julie.ldf",
    portrait: "./assets/img/profil/julie.jpg",
    images: [
      {
        rank: "gold",
        brand: "./assets/img/brands/club-med/logo.png",
        image: "./assets/img/profil/plage.png"
      },
      {
        rank: 8,
        brand: "./assets/img/brands/macdonalds/logo.png",
        image: "./assets/img/profil/smoothie.jpg"
      },
      {
        rank: 12,
        brand: "./assets/img/brands/skipass/logo.png",
        image: "./assets/img/profil/neige.jpg"
      },
      {
        rank: "silver",
        brand: "./assets/img/brands/club-med/logo.png",
        image: "./assets/img/profil/paysage.jpg"
      }
    ]
  };
