header.o-main-header.p-init.w-100
  nav.d-row-flex.d-flex-spacebet.h-100.pt-05.pr-2.pl-2
    a(href="./flux.html", title="Flux").o-inlinebox.h-100
      svg(viewBox="0 0 304.29 250").o-svgh-ico
        use(xlink:href="#ico-puzzle")
          
    a(href="./profil.html", title="Profil").o-inlinebox.h-100
      svg(viewBox="0 0 304.29 284").o-svgh-ico
        use(xlink:href="#ico-profil")
