//- inner layout (internal pug redirections)
extends ../layout/backbone.pug  

block content
  include ../layout/svg.html 
  include ../layout/header.pug 
  
  
  block inner
      
  include ../layout/footer.pug 
