//- inner layout (internal pug redirections)
extends ../layout/backbone.pug  

block content
  include ../layout/svg.html 
  include ../layout/header.pug 
  
  main.o-main.pl-1.pr-1
    block inner
      
  include ../layout/footer.pug 
