//- inner layout (internal pug redirections)
extends ../layout/backbone.pug  

block content
  include ../layout/svg.pug 
  include ../layout/header.pug 
  
  main.o-main.pl-2.pr-2
    block inner
      
  include ../layout/footer.pug 
