<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

  <symbol id="ico-profil" viewBox="0 0 304.29 284">
    <desc>icone de profil</desc>
      <path d="M390.36,397.67" transform="translate(-248.36 -161)" style="fill:#fff"/><path d="M539.12,384.14H309.21c-29.87,0-60.85,20.29-60.85,60.86h33.81c0-20.29,11.4-30.43,27-30.43H539.12c7.47,0,13.52-6.81,13.52-15.21S546.59,384.14,539.12,384.14Z" transform="translate(-248.36 -161)" style="fill:#fff"/><path d="M417.4,161a94.67,94.67,0,1,0,94.67,94.67A94.66,94.66,0,0,0,417.4,161Zm0,162.29A67.62,67.62,0,1,1,485,255.67,67.62,67.62,0,0,1,417.4,323.29Z" transform="translate(-248.36 -161)" style="fill:#fff"/>
  </symbol>
  
</svg>
