@import "var";

// ----- IMAGES -----
//
.full-width{
  max-width: 100%;
}

// ----- FONTS -----
//
// colors
.f-white{ color: @prim; }

// size
.f-reg{ font-weight: @f-reg; }

// position
.f-center{ text-align: center; }

// ----- BORDER -----
//
.brad-3{ border-radius: @radius-reg; }

// ----- POSITION -----
//
.p-vcenter-abs{
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
