@import "./var.less";


html{
  font-size: ~"calc(0.875em + 0.25 * (100vw - 25em) / 40)";
}

body{
  background: @bg;
  font-family: Grotesk;
  font-weight: @f-bold;
}


//------- ICO BOX -------
// ----------------------
//
.o-inlinebox{
  display: inline-block;
}
.o-svgh-ico{
  display: inline-block;
  height: 100%;
}
