@import "./typo.less";

// RESPONSIVE BP
//
@tab: 768px;
@desktop: 1080px;
@px-ratio: 2;

// COLORS
//
@prim: #fff;
@sec: #000;
@b-grey: #4d4d4d;
@d-grey: #616160;
@l-grey: #b3b3b2;
@grey: #999999;
@orange: #ec6730;
@yellow: #ffdf30;
@green: #8cc63f;
@red: #ff0000;

@grad: linear-gradient(45deg, @orange 0%, @yellow 100%);
@dark-grad: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(97,97,96,0.65) 100%);
@bg: @prim;
@fg: @sec;

// FONTS-WEIGHT
//
@f-bold: 600;
@f-reg: 500;
@f-light: 300;

// BORDER
//
@radius-reg: 2px;

// SPACE & MARGINS
//
@space: .8rem; // general space default!
@inner-space: .2rem; // general space default!
@space-h-unit: 30px;
@maintop-margin: @space-h-unit * 1.8;

@ico-width: @space * 2;
