@import "./typo.less";



// COLORS
//
@prim: #fff;
@sec: #000;
@grad: linear-gradient(45deg, #ec6730 0%,#ffdf30 100%);

@bg: @prim;
@fg: @sec;

// FONTS-WEIGHT
//
@f-bold: 600;
@f-reg: 500;
@f-light: 300;

// BORDER
//
@radius-reg: 3px;

// SPACE & MARGINS
//
@space: .8rem; // general space default!
@space-h-unit: 30px;
