extends ../pages/contest.pug

include ../components/popin-image.pug 

block metadata
  - var title = "Concours"
  - var description = "page de concours"
  
block contestContent
  +uploadimage('information')
