extends ../layout/layout.pug
include ../components/popin-concours.pug

block metadata
  - var title = "Concours"
  - var description = "page de concours"
  
append inner

  include ../layout/data.pug 
  include contest.pug
  
  div.o-layer
    +popinConcours(imaginarium)
      
      
          
