extends ../pages/contest.pug

block metadata
  - var title = "Concours"
  - var description = "page de concours"
  
block contestContent
  figure.w-100.mt-3
    img(src="./assets/img/brands/nike/nike-course.jpg").full-width
    figcaption.o-warning
      span.o-warning__title Attention
      span.o-warning__info En cas de validation, il ne sera plus possible de modifier la photo ou de participer à ce concours avec une autre photo, même en cas de suppression.

  div.d-col-flex.mt-3.pr-4.pl-4
    a(href="contest-information.html").f-bold.f-sfat.pt-05.pb-05.f-center.c-grad-yo.shadbox-light.brad-4 Valider la Participation

  a(href="contest.html").no-link.d-block.mt-2.f-right.pr-2.pb-1.f-grey.f-dec-it annuler
