extends ../layout/layout.pug

block metadata
  - var title = "Flux Hepic"
  - var description = "page de flux"
  
append inner
  article.o-tile.brad-4.shadbox-light
    a(href="#").no-link
      img(src="./assets/img/brands/imaginarium/imaginarium-pic.jpg", alt="").full-width
      .o-tile__info
        img(src="./assets/img/brands/imaginarium/logo@2x.png" alt="logo").o-tile__logo.b-1.brad-100
        h2.o-tile__name.p-hcenter-rel.f-cap.f-st Imaginarium festival
        h3.o-tile__desc.p-hcenter-rel.f-grey.f-cap.f-light.f-stl Dance photo contest
           
        ul.d-row-flex.no-list
          li.p-hcenter-rel.d-flex-eq.f-light.f-si 
            svg(viewBox="0 0 62.37 62.37").o-tile__ico
              use(xlink:href="#ico-cible")
            span Photo : <br> Vous au festival ! 
          li.p-hcenter-rel.d-flex-eq.p-1.f-light.f-si 
            svg(viewBox="0 0 64.22 62.67").o-tile__ico
              use(xlink:href="#ico-gift")
            span Chèques Cadeaux <br> 100€, 50€, 30€ 
            
          li.p-hcenter-rel.d-flex-eq.f-light.f-si 
            svg(viewBox="0 0 60.09 60.09").o-tile__ico
              use(xlink:href="#ico-clock")
            span Du 01/02/18 <br> au 30/03/18
            
    a(href="#").o-tile__vote.brad-100
      svg(viewBox="0 0 42 42").o-svgw-ico
        use(xlink:href="#ico-vote")
  
