extends ../layout/layout.pug

block metadata
  - var title = "Flux Hepic"
  - var description = "page de flux"
  
append inner
  article.o-tile.brad-6.shadbox-light
    a
      img(src="./assets/img/imaginarium-pic.jpg", alt="").full-width
      .o-tile__info
        img(src="", alt="logo")
        h2 Imaginarium festival
        h3 Dance Photo Contest
        a
          img(src="")
           
        ul.d-row-flex
          li Photo : <br> Vous au festival ! 
          li Chèques Cadeaux <br> 100€, 50€, 30€ 
          li Du 01/02/18 <br> au 30/03/18
