extends ../layout/layout.pug

//- components
include ../components/tile-current.pug 
include ../components/tile-podium.pug 

block metadata
  - var title = "Flux Hepic"
  - var description = "page de flux"
  
append inner
  //- IMAGINARIUM CURRENT CONTEST
  +tile-current
  
  //- NIKE PODIUM
  - 
    var nike = { 
      brand: "nike", 
      desc: "Shoes contest 2018", 
      gifts: "Bons d’achats de 100€, 50€ et 25€", 
      logo: "./assets/img/brands/nike/logo@2x.png",
      pictures: [
        "./assets/img/brands/nike/nike-femme.jpg",
        "./assets/img/brands/nike/nike-blanc.jpg",
        "./assets/img/brands/nike/nike-course.jpg"
      ] 
    }
  +tile-podium(nike)
  
  //- IMAGINARIUM CLOSING CONTEST
  +tile-current
