extends ../layout/layout.pug

//- ===== COMPONENTS (& olds) =====
//- include ../components/tile-current.pug 
//- include ../components/tile-closing.pug 
//- include ../components/tile-closed.pug 
include ../components/tile-podium.pug 
include ../components/tile.pug

block metadata
  - var title = "Flux Hepic"
  - var description = "page de flux"
  
append inner

  include ../layout/data.pug
  
  main.o-main.o-grid.pl-1.pr-1.pb-1.d-flex.p-center-auto
    
    .grid-col.grid-col--1.d-flex-eq
    .grid-col.grid-col--2.d-flex-eq
    .grid-col.grid-col--3.d-flex-eq
  
    //- IMAGINARIUM CURRENT CONTEST
    +tile('current', imaginarium)
      
    //- NIKE PODIUM
    +tile-podium(nike)
      
    //- IMAGINARIUM CLOSING CONTEST
    +tile('current', imaginarium, 'closing')
      
    //- IMAGINARIUM CLOSED CONTEST
    +tile('closed', imaginarium)
    
    +tile('current', imaginarium)
      
      
      
    //- NIKE PODIUM
    +tile-podium(nike)
    //- IMAGINARIUM CURRENT CONTEST
    +tile('current', imaginarium)
      
    
      
      
      
    //- IMAGINARIUM CLOSED CONTEST
    +tile('closed', imaginarium)
      
    //- IMAGINARIUM CLOSING CONTEST
    +tile('current', imaginarium, 'closing')
    //- IMAGINARIUM CURRENT CONTEST
    +tile('current', imaginarium)
      
    //- NIKE PODIUM
    +tile-podium(nike)
      
