extends ../layout/layout.pug

//- ===== COMPONENTS (& olds) =====
//- include ../components/tile-current.pug 
//- include ../components/tile-closing.pug 
//- include ../components/tile-closed.pug 
include ../components/tile-podium.pug 
include ../components/tile.pug

block metadata
  - var title = "Flux Hepic"
  - var description = "page de flux"
  
append inner

  include ../layout/data.pug
  
  main.o-main.o-grid.pl-1.pr-1.pb-1.d-flex.p-center-auto
    
    .grid-col.grid-col--1.d-flex-eq
    .grid-col.grid-col--2.d-flex-eq
    .grid-col.grid-col--3.d-flex-eq
  
    //- MCDONALDS CURRENT CONTEST
    +tile('current', macdonalds2)
    
    //- IMAGINARIUM CURRENT CONTEST
    +tile('current', imaginarium)
      
    //- MCDONALDS PODIUM
    +tile-podium(macdonalds)
    
    //- SKIPASS CURRENT CONTEST
    +tile('current', skipass)
    
    //- UTC CURRENT CONTEST
    +tile('current', utc, 'closing')
    
    //- IMAGINARIUM CLOSED CONTEST
    +tile('closed', nutella)
    
    //- NIKE PODIUM
    +tile-podium(nike)
    
    //- BANG & OLUFSEN CURRENT CONTEST
    +tile('current', bangolufsen)
      
    //- IMAGINARIUM CLOSED CONTEST
    +tile('closed', imaginarium)
    
    //- AIRFRANCE CLOSED CONTEST
    +tile('current', airfrance)
