extends ../layout/layout.pug

//- components
include ../components/tile-current.pug 
include ../components/tile-podium.pug 

block metadata
  - var title = "Flux Hepic"
  - var description = "page de flux"
  
append inner
  +tile-current 
  +tile-podium 
  +tile-current 
