extends ../layout/layout.pug

block metadata
  - var title = "Photo"
  - var description = "page de photo"
  
append inner

  include ../layout/data.pug
  
  .o-container.pl-1.pr-1
    .o-title.o-main
      a(href="/flux.html").o-title.p-abs.d-flex.d-flex-vm.mt-05.cf-grey
        svg(viewBox="0 0 29.67 25.71").o-svg-btn.va-mid
          use(xlink:href="#ico-arrow")
      
    .p-abs.p-vhcenter-abs.w-100
      .o-tile__infos--long.d-row-flex.d-flex-spacebet.d-flex-vm.p-2.pt-05.pb-05
        a(href="profil.html").no-link.d-row-flex.d-flex-spacebet.d-flex-vm
          img(src=image.winner.portrait alt="logo").o-tile__logo--long.b-1.brad-100.mt-neg025
          span.va-mid
            span.pl-1.f-stm.pr-1.f-grey= image.winner.name
            div(class={"o-ico-sprite--num": Number.isInteger(image.rank), "o-ico-sprite--or": image.rank === "gold", "o-ico-sprite--argent": image.rank === "silver", "o-ico-sprite--bronze": image.rank === "bronze"}).o-ico-sprite.o-ico-sprite--inline.va-mid.mt-neg025.f-center

            
        a(href="#").no-link
          span.o-more
      img(src="./assets/img/brands/nike/nike-femme.jpg").w-100
          
