extends ../layout/backbone.pug
     
block metadata
  - var title = "accueil"
  - var description = "page d'accueil"
  
block content
  section.o-connect-box.p-vcenter-abs
    h1.o-connect-box__logo 
      img(srcset='./assets/img/hepic@2x.png 2x, ./assets/img/hepic@1x.png 1x', alt='Hepic').full-width
    
    .o-connect-btns.f-center
      each rs in [{dim: 'fb', rname: 'Facebook'}, {dim: 'inst', rname: 'Instagram'}, {dim: 'gml', rname: 'Gmail'}]
        a(href='/flux.html', class='o-connect-btn--'+rs.dim+' o-connect-btn brad-3 f-white f-reg f-center')= 'Login with ' + rs.rname       
