extends ../layout/layout.pug
     
block metadata
  - var title = "accueil"
  - var description = "page d'accueil"
  
block content
  section.o-connect-box
    h1.o-connect-box__logo 
      img(srcset='./assets/img/hepic@2x.png 2x, ./assets/img/hepic@1x.png 1x').full-width
      
    a(href='/image.html').o-connect-btn Login with Facebook
