extends ../layout/layout.pug

//- ===== COMPONENTS (& olds) =====
//- include ../components/tile-current.pug 
//- include ../components/tile-closing.pug 
//- include ../components/tile-closed.pug 


block metadata
  - var title = "Profil Julie"
  - var description = "page de profil"
  
append inner

  include ../layout/data.pug
  
  .o-profil-.d-row-flex.d-flex-spacebet.d-flex-vm.mb-2
    a(href="/flux.html")
      svg(viewBox="0 0 29.67 25.71").o-svg-btn.va-mid
        use(xlink:href="#ico-arrow")
          
    div.d-row-flex.d-flex-vm
      img(src=profil.portrait).o-profil-pic.brad-100
      span.pl-1.f-bold.f-stm= profil.name
      span.pl-05.f-grey= profil.id
    
    button(value="config", type="button")
      svg(viewBox="0 0 35.37 35.35").o-svg-btn.va-mid
        use(xlink:href="#ico-config") 
    
  section.o-profil-pics.d-flex
    each pic in profil.images
      a(href="#" class={"o-profil-pics__img--large": pic.rank === "gold"}).o-profil-pics__img.m-025
        img(src=pic.image)
    
      
  
  
