extends ../layout/layout.pug

block metadata
  - var title = "Vote"
  - var description = "page de vote"
  
append inner

  include ../layout/data.pug
  
  - var brand = clubmed;
  
  main.o-main.pb-1.c-backbg.f-center
    a(href="/flux.html").o-title.o-back.pl-1
      svg(viewBox="0 0 29.67 25.71").o-svg-btn.va-mid
        use(xlink:href="#ico-arrow")
          
    .d-row-flex.f-center.d-flex-vm.d-flex-hm.mb-2    
      div.d-row-flex.d-flex-vm
        a(href="#")
          img(src=brand.logo).o-profil-pic.p-hcenter-rel.b-reg.d-block.brad-100
          h2.d-block.m-025.mb-0.f-bold.f-stm= brand.brand
          span.d-block.pl-05.f-grey= brand.desc
          span.d-block.f-si.f-grey Voir la page du concours
          
    
        
    .o-width-container.p-rel.d-inblock
      .d-row-flex.d-flex-spacebet.pl-1.pr-1
        span.f-light n°1
        a(href="#").no-link
          span.o-more
      img(src="./assets/img/brands/nike/nike-femme.jpg").o-plain-img
    
    .o-vote-btns.d-row-flex.d-flex-spacebet.pl-1.pr-1.mt-6
      a(href="#").h-100.w-30.f-center
        svg(viewBox="0 0 132.98 257").o-svg-btn.va-mid.h-100.w-30
          use(xlink:href="#ico-leftArrow")
      a(href="/vote-validation.html").brad-100.h-100.w-30.f-center
        svg(viewBox="0 0 42 42").o-votefor.o-svgw-ico.h-100.p-05.brad-100.b-regFg
          use(xlink:href="#ico-vote")
      a(href="#").h-100.w-30.f-center
        svg(viewBox="0 0 132.98 257").o-svg-btn.va-mid.h-100.w-30
          use(xlink:href="#ico-leftArrow").trotZ-180
    
    block votePopin
